<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/about.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
<h1 style="text-align: center;">About Me</h1>
<main>
<!--    <div class="image-container" style="float: right">-->
<!--        <div class="hero-image">-->
<!--            <picture>-->
<!--                <source type="image/webp" srcset="/images/img.png">-->
<!--                <source type="image/png" srcset="/images/img.png">-->
<!--                <img src="/images/img.png" width="290" height="390" alt="Thalapaneni Profile">-->
<!--            </picture>-->
<!--        </div>-->
<!--    </div>-->

<!--    <h2>Job Title</h2>-->
<!--    <p>Wassim Chegham, Senior Developer Advocate Engineer at Microsoft</p>-->

<!--    <br>-->

    <h2>Mantra</h2>
    <p>Don't dream about success, work hard for it.</p>

    <br>

    <h2>Education</h2>
    <p>Soumya Thalapaneni is a graduate of the University of George Mason University, USA, where she received a M.S. in Computer Science.</p>

    <br>

    <h2>Short 1st person biography</h2>
    <p>
        Hi, I'm Soumya Thalapaneni, a dynamic individual currently advancing my knowledge in Computer Science at George Mason University. Throughout my academic journey, I've excelled in both theoretical understanding and practical application, earning a Bachelor's degree in Computer Science from Matrusri Engineering College, Hyderabad, India.
        Currently, as a dedicated Peer Mentor at George Mason University, I actively engage in communication and peer mentoring, leveraging my skills to foster an inclusive and supportive learning environment. Additionally, I serve as a Cultural Liaison, where my experience as a cultural adjustment facilitator and student mentor shines. My commitment to delivering excellent visitor service spans in-person interactions, over the phone, and via email, showcasing my proficiency in administrative assistance and multilingual support.
        In a prior role as an Orientation Leader, I spent four impactful months honing cross-cultural skills and fostering personal growth. Ther experience significantly enhanced my leadership abilities, improved communication, and broadened my global perspective. I actively contributed to the international student community, leaving a positive mark.
        My academic pursuit at George Mason University is not just about obtaining a degree; it's a holistic journey where I continuously develop and contribute to the vibrant university community.
    </p>
    <br>
    <h2>Long 3rd person biography</h2>
    <p>
    <p>
        Soumya Thalapaneni is a dedicated and accomplished individual in the realm of Computer Science, currently pursuing a Master of Science in Computer Science at George Mason University in Fairfax, Virginia. With a solid foundation established during her Bachelor of Engineering in Computer Science at Matrusri Engineering College, Hyderabad, India, Soumya has proven to be a standout contributor and thought leader.

        Soumya's professional journey reflects her commitment to excellence. During her tenure as a Digital Technology Junior Analyst at NTT DATA - HONEYWELL PROCESS SOLUTIONS from January 2022 to July 2022, she played a crucial role in fixing bugs, conducting deployments, and contributing to the redesign of e-commerce flows. Ther experience enhanced her skills in C/C++, Python, Java, HTML, and various technologies.

        Currently, Soumya is making valuable contributions as a part-time Peer Mentor at George Mason University, a position she has held since August 2023. In her role, she has been instrumental in fostering communication and peer mentoring, showcasing her interpersonal skills and ability to support her peers effectively.

        Simultaneously, Soumya serves as a Cultural Liaison at George Mason University, leveraging her background in administrative support and multilingual assistance to facilitate cultural adjustment for students. her commitment to delivering excellent visitor service in person, over the phone, and via email is evident in ther role.

        Soumya's dedication to supporting the international student community is further highlighted by her previous role as an Orientation Leader at George Mason University from May 2023 to August 2023. In her capacity, she honed cross-cultural skills, fostered personal growth, and contributed positively to the global perspective of the university.

        Beyond her academic and professional endeavors, Soumya has consistently demonstrated a passion for learning and applying cutting-edge technologies. her achievements include winning the Inter College Hackathon in 2019 and contributing to various projects, from Credit Card Fraud Detection using Artificial Neural Networks to initiatives in the Smart India Hackathon.

        Soumya Thalapaneni's journey is marked by a commitment to leadership, communication, and global awareness. her multifaceted skills, from technical expertise to cultural adjustment facilitation, showcase a well-rounded individual making a significant impact in the field of Computer Science.
    </p>

    </p>
</main>
</body>
</html>
